{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Meu Blog{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <header>
        <h1><a href="{% url 'index' %}">Meu Blog</a></h1>
        <p>Compartilhando  o dia, ideias e a vida</p>
        
        <form method="GET" action="{% url 'index' %}">
            <input type="text" name="q" placeholder="Buscar por título ou descrição..." value="{{ request.GET.q }}">
            <button type="submit">Buscar</button>
        </form>

        <nav>
            <a href="{% url 'index' %}" class="nav-link-principal">Início</a>
            
            {% if user.is_authenticated %}
                <div class="dropdown">
                    <button class="dropdown-btn">
                        Minha Conta ({{ user.username }})
                    </button>
                    <div class="dropdown-content">
                        <a href="{% url 'criar_post' %}">Nova Publicação</a>
                        <a href="{% url 'logout' %}">Sair</a>
                        <hr class="dropdown-divisor">
                        <a href="{% url 'deletar_conta' %}" class="btn-excluir-conta" onclick="return confirm('ATENÇÃO: Tem certeza que deseja excluir sua conta? Todos os seus posts e comentários serão apagados permanentemente.');">❌ Excluir Conta</a>
                    </div>
                </div>
            {% else %}
                <a href="{% url 'login' %}" class="nav-link-principal">Entrar</a>
                <a href="{% url 'cadastro' %}" class="nav-link-principal">Cadastrar</a>
            {% endif %}
        </nav>
    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>