{% extends 'base.html' %}

{% block titulo %}Cadastro - Blog{% endblock %}

{% block conteudo %}
<div class="post">
    <h2>Criar Nova Conta</h2>
    <form method="POST" style="margin-top: 1rem;">
        {% csrf_token %}
        <p>
            <label for="username">Nome de Usuário:</label>
            <input type="text" id="username" name="username" required>
        </p>
        <p>
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required>
        </p>
        <button type="submit" class="btn">Cadastrar</button>
    </form>
</div>
{% endblock %}