{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="form-box">
    
    <div class="cartao-conta"> 
        
        <h2>Sacar</h2>
        <p>Conta: {{ conta.numero }} </p>
        <div class="bloco-saldo">
            <span class="label-saldo">Saldo disponível:</span>
            <span class="valor-saldo">R$ {{ conta.saldo }}</span> 
        </div>

        <form method="POST" class="formulario-banco">
            {% csrf_token %}

            <div class="form-group">
                 <label>Valor: </label>
                <input type="number" step="0.01" name="valor" placeholder="Digite o valor do saque" required>
            </div>

           <div class="botoes-form">
            <button type="submit" class="btn btn-success">Confirmar</button>
            <a href="{% url 'conta' conta.id %}" class="btn btn-secondary">Cancelar</a>
        </div>
        </form>

    </div>
</section>
{% endblock %}